@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body, html {
    background-color: #F5F5F5;
}
  
.haha {
    font-family: 'Quicksand', sans-serif;
    color: rgba(255,255,255, 0.8);
    font-size: 15px;
    font-weight: bold;
}
  
input{
/*    background: 0;*/
    outline: 0;
    /*border: 0;*/
    /*border-bottom: 2px solid rgba(255,255,255, 0.3);*/
    /* margin: 20px 0; */
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
  }
 ul{
  list-style: none;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

.choices ul li{
  color: #AAAAAA;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;
}

ul li label {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  padding: 0px 0px 0px 25px;
  margin: 5px 0px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    color: rgb(44, 95, 235);
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
    content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
    left: 5px;
  margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

input[type=number] {
    outline: 50;
    border: solid black;
    /* margin: 20px 0; */
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: normal;
    color: black;
}


.page-hdr {
    padding-bottom: 0px;
    border-bottom: 1px solid #eee;
}

.navbar-color {
    background-color: #141414;
    border-color: #0c0c0c;
    border-radius: 0px;
}

.fnt{
    color: #0c0c0c;
    font-family: 'Quicksand', sans-serif;
}

.w {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    /* font-weight: 800; */
    letter-spacing: 1px;
}
.ss {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0, 0.3);
}

.underline-on-hover:hover {
    font-weight:bold;
    text-decoration: underline;
}

.note {
    position: relative;
    width: 20%;
    padding: 0.3em 0.3em;
    color: #fff;
    background: #141414;
    overflow: hidden;
}
  
.note:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #F5F5F5 #F5F5F5 #658E15 #658E15;
    background: #658E15;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
}
  
.note.rounded {
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
    /* margin: 0; */
}
  
.note.rounded:before {
    border-width: 8px;
    border-color: #F5F5F5 #F5F5F5 transparent transparent;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.tbl {
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(110, 158, 37, 0.8);
}
.tbl-content{
    height: 450px;
    overflow-x:auto;
    border-top: solid 1px rgba(0,0,0,0.3);
    border: 1px solid #1a1a1a;
    border: 1px solid rgba(0,0,0,0.3);
}
th {
    padding: 10px 10px;
    text-align: left;
    font-size: 15px;
    color: #1a1a1a;
    text-transform: uppercase;
}
td{
    padding: 8px;
    text-align: left;
    vertical-align:middle;
    font-size: 15px;
    color: #1a1a1a;
    border-bottom: solid 1px rgba(0,0,0,0.3);
}
 
.bb {
    background: 0;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 20px 0;
    padding-bottom: 10px;
    font-size: 18px;
    color: rgba(255,255,255, 0.8);
    border-radius: 8px;
    text-decoration: none !important;
    text-align: center;
    padding: 15px;
    background:  #658E15;
    color: white;
    cursor: pointer;
    transition: all 600ms ease-in-out;
    }
.bb:hover {
    background:#cccccc;
}

  


  